<div class="type-row">
  <mat-form-field appearance="outline">
    <mat-label i18n="@@typeLabel">Typ</mat-label>
    <input
      type="text"
      matInput
      [formControl]="pushupTypeControl"
      [matAutocomplete]="typeAuto"
      placeholder="Auswählen oder eintippen"
      i18n-placeholder="@@typePlaceholder"
    />
    <mat-autocomplete
      #typeAuto="matAutocomplete"
      [displayWith]="displayPushupType"
    >
      @for (option of filteredPushupTypeOptions$ | async; track option.value) {
        <mat-option [value]="option.value">
          <span class="type-option">
            <span>{{ option.label }}</span>
            @if (pushupTooltipFor(option.value); as info) {
              <mat-icon
                class="type-option-info"
                [matTooltip]="info"
                matTooltipPosition="right"
                [attr.aria-label]="info"
                role="img"
                (click)="$event.stopPropagation()"
                >info_outline</mat-icon
              >
            }
          </span>
        </mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
  <a
    mat-icon-button
    class="type-help"
    [routerLink]="['/wiki/liegestuetz-typen']"
    [queryParams]="pushupWikiQueryParams()"
    [matTooltip]="pushupWikiTooltip()"
    matTooltipPosition="left"
    mat-dialog-close
    i18n-aria-label="@@typeWikiLinkAria"
    aria-label="Anleitung zum Liegestütztyp öffnen"
  >
    <mat-icon>help_outline</mat-icon>
  </a>
</div>

@for (set of sets(); track $index) {
  <div class="set-row">
    <mat-form-field appearance="outline">
      @if (hasMultipleSets()) {
        <mat-label i18n="@@setLabel">Set {{ $index + 1 }}</mat-label>
      } @else {
        <mat-label i18n="@@repsLabel">Reps</mat-label>
      }
      <input
        matInput
        type="number"
        [min]="0"
        [max]="repsMax"
        step="1"
        [value]="set"
        (input)="updateSet($index, asValue($event))"
        required
      />
    </mat-form-field>
    @if (hasMultipleSets()) {
      <button
        type="button"
        mat-icon-button
        (click)="removeSet($index)"
        i18n-aria-label="@@removeSetAria"
        aria-label="Set entfernen"
      >
        <mat-icon>remove_circle_outline</mat-icon>
      </button>
    }
    @if ($last) {
      <button
        type="button"
        mat-icon-button
        (click)="addSet()"
        i18n-aria-label="@@addSetAria"
        aria-label="Set hinzufügen"
        i18n-matTooltip="@@addSetTooltip"
        matTooltip="Weiteres Set hinzufügen"
      >
        <mat-icon>add_circle_outline</mat-icon>
      </button>
    }
  </div>
}
@if (hasMultipleSets()) {
  <div class="total-reps" i18n="@@totalReps">
    Gesamt: {{ totalReps() }} Reps
  </div>
}

@if (overCap()) {
  <div class="total-reps">
    <span i18n="@@entryDialog.overCap">Maximum: {{ repsMax }} pro Eintrag</span>
  </div>
}

<mat-form-field appearance="outline">
  <mat-label i18n="@@sourceLabel">Quelle</mat-label>
  <input
    type="text"
    matInput
    [formControl]="sourceControl"
    [matAutocomplete]="sourceAuto"
    placeholder="web / whatsapp / eigene Quelle"
    i18n-placeholder="@@sourcePlaceholder"
  />
  <mat-autocomplete #sourceAuto="matAutocomplete">
    @for (option of filteredSourceOptions$ | async; track option) {
      <mat-option [value]="option">{{ option }}</mat-option>
    }
  </mat-autocomplete>
</mat-form-field>
