.table-wrap {
  display: block;
  height: 62vh;
}

mat-table {
  width: 100%;
}

.mat-mdc-card-header {
  padding-bottom: 0;
}

.mat-mdc-header-row {
  position: sticky;
  top: 0;
  z-index: 3;
}

.actions {
  display: inline-flex;
  gap: 4px;
}

.create-dialog {
  display: grid;
  gap: 10px;
}

.dialog-actions {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}
